# This is a basic workflow to help you get started with Actions

name: CI back end

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: 
      - master
      - develop
    paths-ignore:
      - 'FrontEnd/**'
  pull_request:
    branches:
      - master
      - develop
    paths-ignore:
      - 'FrontEnd/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest        
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo ${{ github.ref }}
          echo ${{ github.ref }}
          echo $TARGET_ENV
          echo ${{ github.workspace }}
  list-files:
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.list-files.outputs.paths }}
    steps:
      - name: List Files
        id: list-files
        uses: mirko-felice/list-files-action@v3.0.5
        with:
          repo: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: "."
          ext: ".yml"
  Test:
    needs: list-files
    strategy:
      matrix:
        paths: ${{ fromJson(needs.list-files.outputs.paths) }}
    runs-on: ubuntu-latest
    steps:
      - name: Output results
        run: |
          echo ${{ matrix.paths }}
          
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: build
    env:
      TARGET_ENV: Staging
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Run a multi-line script
        run: |
          echo ${{ github.ref }}
          echo $TARGET_ENV
                  
        if: ${{ github.ref == 'refs/heads/develop' }}
      - uses: ./.github/workflows/deployment.yml
        with:
            target-env: $TARGET_ENV
            
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          TARGET_ENV: prod
      - uses: ./.github/workflows/deployment.yml
        with:
            target-env: ${{ TARGET_ENV }}
   
        
     
          
  
